<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">


<div layout:fragment="content" class="container my-3">


  <div class="emty">""</div>

  <div class="jumbotron-fluid">


    <div class="jumbotron-fluid">
      <div class="container-fluid special stripes">
        <div class="container">
          <h1 class="jumbotron-heading text-white text-center">게시판 홈페이지 입니다 <br><br></h1>
          <p class="lead text-white text-center mx-auto"> Test Context<br><br><br><br><br><br><br>
          </p>
          <div class="row">
            <div class="col-sm-4">
              <p style="text-align: center"><a class="btn btn-info btn-pull" href="temp.html"
                                               role="button">게시판 생성하기</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>
</html>
